.addressablesassetmanager {
    flex-grow: 1;
    background-color: var(--color-bg-default);
}

.addressablesassetmanager .unity-tab-view__header-container {
    background-color: var(--color-bg-darker);
    padding-top: 1px;
    flex-shrink: 0;
    flex-grow: 1;
}

.addressablesassetmanager .unity-tab__header {
    flex-grow: 1;
    height: 28px;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.addressablesassetmanager .unity-tab__header:checked {
    background-color: var(--color-bg-default);
}

.addressablesassetmanager .unity-tab__header > Label {
    -unity-font-style: bold;
}

.addressablesassetmanager .unity-tab__header > .unity-tab__header-underline {
    display: none;
}